@use "./base.scss";

/* 目次（Table of Contents）のスタイル */
.toc {
  letter-spacing: 0.8px;
  line-height: 1.2;
  
  ul {
    line-height: 1.2;
  }
  
  li {
    margin-bottom: 0.3rem; /* 項目間のスペース */
  }
}

/* Explorer（一覧）のスタイル */
.explorer {
  letter-spacing: 0.8px;
  
  ul {
    line-height: 1.8;
  }
  
  li {
    margin-bottom: 0.4rem; /* 項目間のスペース */
  }
  
  .explorer-link {
    letter-spacing: 0.8px;
    line-height: 1.8;
  }
}
